body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.app {
    text-align: center;
}

.header {
    background-color: rgb(78, 207, 207);
    color: white;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

  