.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
    color: white;
}

.links, .loginLinks {
    display: flex;
}

.links, .loginLinks a {
    color: white;
    margin: 0 10px;
    padding: 10px;
}

.links:hover {
    transform: scale(1.1);
    opacity: 0.8;
    background-color: grey;
}

.navbar-ul {
    list-style: none;
    display: inline;
}

.navbar-li {
    text-decoration: none;
}

