* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.profile-container {
  max-width: 600px;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid rgb(84,84,86);
  border-radius: 10px;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  text-align: left;
  padding: 15px
}

.profile-details p {
  font-size: 1.1em;
  margin: 10px 0;
}

.profile-details button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: rgb(0,125,27);
  color: #f5f5f7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form .form-group {
  margin-bottom: 15px;
}

.profile-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.profile-form button[type="submit"] {
  background-color: rgb(10, 132, 255);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button[type="button"] {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
